.MainPolArea{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 19% 31% 19% 31%;
    grid-row: 2;
    grid-column: span 2;
    display: grid;
    align-items: center;
    justify-content: center;
    column-span: 2;
}
.final-pol{
    width: 55rem;
    display: flex;
    grid-row: 2;
    overflow-x: scroll;
}
.final-pol::-webkit-scrollbar{
    width: 0; /* remove scrollbar space */
    background: transparent; /* optional: just make scrollbar invisible */
  }
.recent-pol::-webkit-scrollbar{
    width: 0; /* remove scrollbar space */
    background: transparent; /* optional: just make scrollbar invisible */
  }
.recent-pol{
    display: flex;
    grid-row: 4;
    overflow-x: scroll;
}
.ab{
    grid-row: 3;
}